*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Repo Specific
data/
/bin/
cs489-2016w-qaovxtazypdl-a6-model-fusion/
cs489-2016w-qaovxtazypdl-a6-model-britney/
cs489-2016w-qaovxtazypdl-a6-model-fusion/
cs489-2016w-qaovxtazypdl-a6-model-group_x/
cs489-2016w-qaovxtazypdl-a6-model-group_y/
cs489-2016w-qaovxtazypdl-a6-test-britney/
cs489-2016w-qaovxtazypdl-a6-test-fusion-average/
cs489-2016w-qaovxtazypdl-a6-test-fusion-vote/
cs489-2016w-qaovxtazypdl-a6-test-group_x/
cs489-2016w-qaovxtazypdl-a6-test-group_y/
